<div class="row">
  <div class="col">
    <% flash.each do |type, message| %>
      <div class="alert <%= type == 'alert' ? 'alert-danger' : 'alert-success' %>" role="alert" id="taskAlert">
        <%= message %>
      </div>
    <% end %>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h1>Tarefas</h1>
  </div>
</div>
<div class="row mb-4">
  <div class="col">
    <%= link_to new_task_path, method: :get, class: "btn btn-success btn-index" do %>
      <span>Adicionar tarefa</span>
      <i class="fa-solid fa-circle-plus add-icon"></i>
    <% end %>
  </div>
  <div class="col">
    <%= link_to tasks_path(status: 'pending'), method: :get, class: "btn btn-danger btn-index" do %>
      <span>Pendentes</span>
      <span class="badge text-bg-light"><%= @mapped_tasks[:pending_tasks] %></span>
    <% end %>
  </div>
  <div class="col">
    <%= link_to tasks_path(status: 'done'), method: :get, class: "btn btn-primary btn-index" do %>
      <span>Feitas</span>
      <span class="badge text-bg-light"><%= @mapped_tasks[:done_tasks] %></span>
    <% end %>
  </div>
  <div class="col">
    <%= link_to tasks_path(status: nil), method: :get, class: "btn btn-dark btn-index" do %>
      <span>Total</span>
      <span class="badge text-bg-light"><%= @mapped_tasks[:total_tasks] %></span>
    <% end %>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<div class="row m-0">
  <% @mapped_tasks[:tasks].each do |task| %>
    <div class="card card-margin <%= task.pending? ? 'text-bg-danger' : 'text-bg-primary' %>" style="max-width: 20rem;">
      <div class="card-header align-right">
        <%= link_to task_path(task), data: { method: :delete, confirm: 'Tem certeza que deseja apagar a tarefa?' }, class: "option-icon-margin" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
        <div class="display-inline option-icon-margin <%= task.done? ? 'not-allowed-click' : '' %>">
          <%= link_to edit_task_path(task), class: "#{ 'blocked-click' if task.done? }" do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
        <%= link_to task_path(task), class: "option-icon-margin" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title">#<%= task.id %></h5>
        <h6 class="card-text <%= task.done? ? 'text-line-through' : '' %>"><%= task.name%></h6>
      </div>
      <div class="card-footer align-center">
        <%= link_to done_task_path(id: task.id), method: :put, class: "#{ 'blocked-click' if task.done? }" do %>
          <i class="fa-solid <%= task.pending? ? 'fa-check' : '' %>"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
