<h1>Nova tarefa</h1>

<p>
  <%= link_to root_path do %>
    <i class="fa-solid fa-left-long"></i>
  <% end %>
</p>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :name %>
    <% @task.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>